{% unless template == 'index' or template == 'cart' %}
<div class="breadcrumbs">
  <ul>
    <li><a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a></li>

    {% if template contains 'product' %}

    {% if product.collections[0] %}
    <li><span class="line">/</span></li>
    {% if product.collections[0].handle %}
    {% capture url %}/collections/{{ product.collections[0].handle }}{% endcapture %}
    <li>{{ product.collections[0].title | link_to: url }}</li>
    {% endif %}
    {% endif %}
    <li><span class="line">/</span></li>
    <li>{{ product.title }}</li>

    {% elsif template contains 'collection' and collection.handle %}

    <li><span class="line">/</span></li>
    {% if current_tags %}
    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
    <li>{{ collection.title | link_to: url }}</li>
    <li><span class="line">/</span></li>
    <li>{{ current_tags | join: " + " }}</li>
    {% else %}
    <li>{{ collection.title }}</li>
    {% endif %}

    {% elsif template == 'search' %}

    <li><span class="line">/</span></li>
    <li>Search</li>

    {% elsif template == 'customers/register' %}

    <li><span class="line">/</span></li>
    <li>Sign up</li>

    {% elsif template == 'blog' %}

    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    {% if current_tags %}
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span>{{ blog.title }}</span>
    {% endif %}

    {% elsif template == 'article' %}

    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    <span>{{ article.title }}</span>

    {% elsif template contains 'page' %}

    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    <span>{{ page.title }}</span>

    {% else %}

    <span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
    <span>{{ page_title }}</span>

    {% endif %}
  </ul>
</div>
{% endunless %}
