<!-- Menu sidebar -->
<div id="sidebar">
  <div id="sidebar-wrapper" class="sidebar-wrapper">
    <div class="header">
      Menu
    </div>
    <div class="lists-menu">
      <ul>
        {% for link in linklists.collections-lists.links %}
          {% assign collection = link.object %}
          <li>
            <a href="{{ collection.url }}">{{ collection.title }}</a>
              {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
              <ul>
                <li><a href="{{ collection.url }}">All</a></li>
                {% for subcollection in linklists[child_list_handle].links %}
                  <li>
                    <a href="{{ collection.url }}/{{ subcollection.title | handle }}">{{ subcollection.title }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="social">
      <a href="#" class="twitter"></a>
      <a href="#" class="facebook"></a>
      <a href="#" class="youtube"></a>
      <a href="#" class="google_plus"></a>
    </div>
  </div>
</div>
<!-- end Menu sidebar -->