<section class="account">
  <div class="wrap-head">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#">Home</a>
          <span class="line">/</span>
        </li>
        <li>My account</li>
      </ul>
    </div>
    <!-- end Breadcrumbs -->

    <div class="wrap-link-tabs">
      <div class="link-tabs">
        <ul>
          <li class="current">
            <a href="/account#account_tab">Account</a>
          </li>
          <!--<li>-->
            <!--<a href="#">Wishlist</a>-->
          <!--</li>-->
          <li>
            <a href="/account#my_orders">My Orders</a>
          </li>
          <li>
            <a href="/account/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Tabs content -->
  <div class="tab tab-active" id="account_tab">
    <div class="form-account">
      <!--<div class="left">-->
        <!--<div class="section-header">-->
          <!--<h1 class="section-header__title">Account Information</h1>-->
        <!--</div>-->
        <!--<div class="inner-left">-->
          <!--{% include 'reset_password' %}-->
        <!--</div>-->
      <!--</div>-->
      <div class="left">
        <div class="section-header">
          <h1 class="section-header__title">Shipping Address</h1>
        </div>
        <div class="inner-left">
          {% include 'addresses' %}
        </div>
      </div>

      <div class="wrap_btn">
        <input type="button" class="btn" value="Save">
      </div>

    </div>
  </div>
  <div class="tab" id="my_orders">
    <div class="list-order">

      <h1>Recent Orders</h1>

      <table>

        <thead>
        <tr>
          <th>Order #</th>
          <th>Date</th>
          <th>Ship to</th>
          <th>Order total</th>
          <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for order in customer.orders %}
        <tr {% if order.financial_status_label == 'voided' %}class="canceled"{% endif %}>
        <td>{{ order.name }}</td>
        <td>{{ order.created_at | date: "%d/%m/%Y" }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ order.total_price | money }}</td>
        <td><span class="icon-order icon-order-{{ order.financial_status_label | downcase }}"></span>{{ order.financial_status_label }}</td>
        </tr>
        <tr class="select hide">
          <td colspan="5">
            <div class="info-order">
              <div class="products-column">
                <div class="head">
                  order
                </div>
                <ul>
                  {% for line_item in order.line_items %}
                  <li>
                    <a href="{{ line_item.product.url }}">{{ line_item.product.title }}</a>
                    <span class="price">{{ line_item.price | money }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="shipping-address-column">
                <div class="head">shipping address</div>
                {% if customer.default_address != nil %}
                <p>
                  {{ customer.default_address.address1 }}<br>

                  {% if customer.default_address.address2 != "" %}
                  {{ customer.default_address.address2 }}<br>
                  {% endif %}

                  {% if customer.default_address.city != "" %}
                  {{ customer.default_address.city }}<br>
                  {% endif %}

                  {% if customer.default_address.province_code != "" %}
                  {{ customer.default_address.province_code | upcase }}<br>
                  {% endif %}

                  {% if customer.default_address.zip != "" %}
                  {{ customer.default_address.zip | upcase }}<br>
                  {% endif %}

                  {% if customer.default_address.country != "" %}
                  {{ customer.default_address.country }}<br>
                  {% endif %}

                  {% if customer.default_address.phone != "" %}
                  {{ customer.default_address.phone }}
                  {% endif %}
                </p>

                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        <tr class="select hide">
          <td colspan="2">
            <strong><span class="head">Subtotal</span></strong>
            {{ order.subtotal_price | money }}
          </td>
          <td colspan="1">
            <strong><span class="head">Shipping</span></strong>
            {{ order.shipping_price | money }}
          </td>
          <td colspan="2">
            <strong>Total</strong>
            <span class="total">{{ order.total_price | money }}</span>
          </td>
        </tr>
        {% endfor %}
        </tbody>

      </table>

    </div>
  </div>
  <!-- end Tabs content -->


</section>
