<!-- Catalog -->
<section class="catalog">

  {% include 'breadcrumb' %}

  <h2>{% if current_tags %}{{ current_tags | join: " + " }}{% else %}{{ collection.title }}{% endif %}</h2>

  {% capture child_list_handle %}{{ collection.title | handle }}{% endcapture %}

  <!-- List catalog -->
  <div class="list list-catalog">
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
      <ul>
        {% assign current_tags_size = current_tags | size %}
        <li {% if current_tags_size == 0 %}class="current"{% endif %}><a href="{{ collection.url }}">All</a></li>
        {% for subcollection in linklists[child_list_handle].links %}
          <li {% if current_tags contains subcollection.title %}class="current"{% endif %}>
            <a href="{{ collection.url }}/{{ subcollection.title | handle }}">{{ subcollection.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <!-- end List catalog -->

  <!-- Filters -->
  {% include 'collection-sorting' %}
  <!-- end Filters -->

  {% assign productsCountTotal = collection.products | size %}

  {% paginate collection.products by 10 %}
    {% assign productsCountCurrent = collection.products | size | plus: paginate.current_offset %}
    {% assign productsCountFirst = paginate.current_offset | plus: 1 %}
    {% assign productsCountSecond = paginate.current_page  %}

    <!-- Items catalog -->
    <div class="items-catalog">
      <ul>
        <li class="sizer"></li>
        {% for product in collection.products %}
          <li class="{% if product.tags contains 'big' %}size-60{% elsif product.tags contains 'ink' %}size-40{% else %}size-20{% endif %} hide">
            <div class="inner">
              <a href="{{ product.url }}">
                <img data-src="https:{% if product.tags contains 'big' %}{{ product.images[0] | img_url: "original" }}{% elsif product.tags contains 'ink' %}{{ product.images[0] | img_url: "original" }}{% else %}{{ product.images[0] | img_url: "large" }}{% endif %}"

                {% if product.tags contains 'big' %}
                data-width="1024" data-height="940"
                {% elsif product.tags contains 'ink' %}
                data-width="480" data-height="800"
                {% else %}
                data-width="480" data-height="480"
                {% endif %}

                alt=""/>
              </a>
              <div class="info">
                <a href="{{ product.url }}" class="title">{{ product.title }}</a>
                {% if product.tags contains 'big' %}
                <a href="{{ product.url }}" class="description"><span>{{ product.metafields.global.description_tag }}</span></a>
                {% endif %}
                <span class="price">{{ product.price | money }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- end Items catalog -->

    <!-- Footer catalog -->
    <div class="footer-catalog">
      {% if paginate.pages > 0 %}
        <div class="little-text">Items {{ productsCountFirst }} to {{ productsCountCurrent  }} of {{ productsCountTotal }} total</div>

        {% if paginate.next %}
          <button class="btn btn-load-more">Load more</button>
        {% endif %}

        {% include 'pagination-custom' %}
      {% endif %}
    </div>
    <!-- end Footer catalog -->
  {% endpaginate %}

</section>
<!-- end Catalog -->
