{% assign page = pages.frontpage %}
<header>
  <div class="wrap">
    <div class="background"></div>
    <div class="vertical-center">
      <div class="inner">
        {{ page.content }}
        <div class="list-catalogs">
          {% include 'collections-lists' %}
        </div>
      </div>
    </div>

    <a href="#main-catalog" class="icon-arrow"></a>

    <div class="header-footer">
      <div class="pull-left">
        The Inkjecta delivers excellence in its design and use
      </div>
      <div class="pull-right">
        <div class="social">
          <a href="#"><img src="{{ 'Twitter.svg' | asset_url }}" alt=""/></a>
          <a href="#"><img src="{{ 'Facebook.svg' | asset_url }}" alt=""/></a>
          <a href="#"><img src="{{ 'Youtube.svg' | asset_url }}" alt=""/></a>
          <a href="#"><img src="{{ 'Google.svg' | asset_url }}" alt=""/></a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="wrap-section">
  <!-- Main Catalog -->
  <section class="main_catalog" id="main-catalog">
    <!-- Items catalog -->
    <div class="items-catalog">
      <ul>
        <li class="sizer"></li>
        {% for collection in collections %}
          {% for product in collection.products %}
          {% if product.tags contains 'main' %}
          <li class="{% if product.tags contains 'big' %}size-60{% elsif product.tags contains 'ink' %}size-40{% else %}size-20{% endif %} hide">
            <div class="inner">
              <a href="{{ product.url }}">
                <img data-src="https:{% if product.tags contains 'big' %}{{ product.images[0] | img_url: "original" }}{% elsif product.tags contains 'ink' %}{{ product.images[0] | img_url: "original" }}{% else %}{{ product.images[0] | img_url: "large" }}{% endif %}"

                {% if product.tags contains 'big' %}
                data-width="1024" data-height="940"
                {% elsif product.tags contains 'ink' %}
                data-width="480" data-height="800"
                {% else %}
                data-width="480" data-height="480"
                {% endif %}

                alt=""/>
              </a>
              <div class="info">
                <a href="{{ product.url }}" class="title">{{ product.title }}</a>
                {% if product.tags contains 'big' %}
                <a href="{{ product.url }}" class="description"><span>{{ product.metafields.global.description_tag }}</span></a>
                {% endif %}
                <span class="price">{{ product.price | money }}</span>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <!-- end Items catalog -->
  </section>
  <!-- end Main Catalog -->
</div>

<script type="text/javascript">
  console.log(document.referrer);
</script>