<!-- Search -->
<section class="catalog">

  {% include 'breadcrumb' %}

  <h2>Search results</h2>

  <!-- Filters -->
  {% include 'search-sorting' %}
  <!-- end Filters -->

  {% assign productsCountTotal = search.results_count %}

  {% paginate search.results by 10 %}
  {% assign productsCountCurrent = productsCountTotal | plus: paginate.current_offset %}
  {% assign productsCountFirst = paginate.current_offset | plus: 1 %}
  {% assign productsCountSecond = paginate.current_page  %}

  <!-- Items catalog -->
  <div class="items-catalog">
    <ul>
      <li class="sizer"></li>
      {% for product in search.results %}
      <li class="hide {% if product.tags contains 'big' %}size-60{% elsif product.tags contains 'ink' %}size-40{% else %}size-20{% endif %}">
        <div class="inner">
          <a href="{{ product.url }}" style="background-image: url('https:{% if product.tags contains 'big' %}{{ product.images[0] | img_url: "original" }}{% elsif product.tags contains 'ink' %}{{ product.images[0] | img_url: "original" }}{% else %}{{ product.images[0] | img_url: "large" }}{% endif %}');">
          <canvas class="hide"
                  {% if product.tags contains 'big' %}
          width="1024" height="870"
          {% elsif product.tags contains 'ink' %}
          width="480" height="800"
          {% else %}
          width="480" height="480"
          {% endif %}
          ></canvas>
          </a>
          <div class="info">
            <a href="{{ product.url }}" class="title">{{ product.title }}</a>
            {% if product.tags contains 'big' %}
            <a href="{{ product.url }}" class="description"><span>{{ product.metafields.global.description_tag }}</span></a>
            {% endif %}
            <span class="price">{{ product.price | money }}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- end Items catalog -->

  <!-- Footer catalog -->
  <div class="footer-catalog">
    {% if paginate.pages > 0 %}
    <div class="little-text">Items {{ productsCountFirst }} to {{ productsCountCurrent  }} of {{ productsCountTotal }} total</div>

    {% if paginate.next %}
    <button class="btn btn-load-more">Load more</button>
    {% endif %}

    {% include 'pagination-custom' %}
    {% endif %}
  </div>
  <!-- end Footer catalog -->
  {% endpaginate %}

</section>
<!-- end Search -->
